<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="serverid" value="1"/>
    <add key ="dhost" value="192.168.0.183"/>
    <add key ="dport" value="9000"/>
    <add key ="shost" value="192.168.0.183"/>
    <add key ="sport" value="9000"/>
    <add key ="maxconnect" value="10000"/>
    <add key ="buffersize" value="307200"/>
  </appSettings>
</configuration>