<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="serverid" value="1"/>
    <add key ="dhost" value=""/><!--链接服务器Ip-->
    <add key ="dport" value=""/><!--链接服务器端口-->
    <add key="serverip" value="192.168.0.183"/><!--外网Ip-->
    <add key ="shost" value="192.168.0.183"/><!--服务器Ip-->
    <add key ="sport" value="9002"/><!--服务器端口-->
    <add key ="maxconnect" value="10000"/>
    <add key ="buffersize" value="307200"/>
    <add key="gettuiappid" value="lj6fT7IY5tAtMhVJde4wV3"/>
    <add key="gettuiappkey" value="uRtucM33gw5MyN6ryKG1Q"/>
    <add key="gettuimasterkey" value="CKbwgi4ntS7rpFwetcRHb9"/>
    <add key="currdomain" value="http://sbf.zzcyi.cn"/>
    <add key="platTel" value="12345678910"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>